html {
    background-color: antiquewhite;
}

.main {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: black;
}

.search {
    margin: 10px;
}

.serach #loading {
    margin: 20%;
}

#search-county {
    width: 120px;
    right: 10px;
}

#search-state {
    width: 120px;
    left: 10px;
}

/* .info {
    margin-top: 20%;
} */

#result {
    margin-top: 8%;
}

.info h3 {
    text-decoration: underline;
}

.headers h1 {
    color: #B6D9EE;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.headers h4 {
    color: red;
}

.world-data {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 85%;
    width: 100%;
    background-color: #B6D9EE;
    color: black;
    text-align: center;
}