html {
    background-color: #1A1A1D;
    color: white;
}

.main {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: white;
    margin-top: 160px;
}

.search {
    margin: 10px;
    color: white;
}

.search #loading {
    margin: 20px;
}

#search-county {
    text-align: center;
    width: 150px;
    right: 10px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

#search-state {
    text-align: center;
    width: 150px;
    left: 10px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

#result {
    margin-top: 0px;
    margin-bottom: 70px;
}

.info h3 {
    text-decoration: underline;
}

#visualize-confirmed {
    margin: 5px 5px 0px 5px;
}

#visualize-deaths {
    margin: 5px 5px 0px 5px;
}

.headers h1 {
    color: white;
    font-style: italic;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.headers h4 {
    color: red;
}

.world-data {
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    background-color: lightcoral;
    color: black;
    text-align: center;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: #B6D9EE;
    color: black;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}