html {
    background-color: #1A1A1D;
    color: white;
}

.main {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: white;
    margin-top: 160px;
}

.search {
    margin: 10px;
    color: white;
}

#search-button {
    margin: 10px 10px 10px 20px;
    background: lightblue;
    color: black;
}

#search-county {
    text-align: center;
    width: 125px;
    right: 10px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

#search-state {
    text-align: center;
    width: 150px;
    left: 10px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

#result {
    margin-top: 0px;
    margin-bottom: 70px;
}

.info {
    padding: 5px 5px 5px 5px;
}

.info h3 {
    text-decoration: underline;
}

#visualize-confirmed {
    margin: 5px 5px 0px 5px;
}

#visualize-deaths {
    margin: 5px 5px 0px 5px;
}

.headers h1 {
    color: white;
    font-family: "Jost", sans-serif;
    font-style: italic;
    margin-bottom: 5px;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.world-data {
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    background-color: lightcoral;
    color: white;
    text-align: center;
    z-index: 100;
    border-radius: 0px 0px 10px 10px;
}

.world-data h3 {
    text-decoration: underline;
}

#world-confirmed, #county-confirmed {
    background-color: yellow;
}

#world-recovered {
    background-color: green;
}

#world-deaths, #county-deaths {
    background-color: red;
}

#world-rate, #county-rate {
    background: lightblue;
}

#date-chip {
    background: red;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    padding-top: 100px;
    width: 100%;
    color: black;
    text-align: center;
}

#chip {
    background-color: lightgray;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}